<div class="container text-center">
  <div>
    <h1><%= @restaurant.name %></h1>
    <h2><%= @restaurant.category.capitalize %> - Restaurant</h2>
    <p>Adresse: <%= @restaurant.address %></p>
    <p>Numeros de telephone: <%= @restaurant.phone_number %></p>
  </div>
  <div>
    <h3>Make an review</h3>
    <%= link_to "Rate Us", new_restaurant_review_path(@restaurant), class: "btn btn-green"  %>
  </div>
  <%= link_to "go back to index", restaurants_path, class: "btn btn-primary", style:"margin-top: 10px"%>
</div>
